

/* GLOBAL STYLES */

/* UNUSED COLORS */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}



body {
  margin: 0;
  padding: 0;
  font-family: Avenir, sans-serif;
}

.content-wrap {
  max-width: 700px;
  width: 85%;
  margin: 0 auto;
  padding: 60px 0;
}


h1 {
  font-size: 4em;
  color: #ffffff;
  margin: 0x;
}

h2 {
  font-size: 1.8em;
  color: #e9388b;
}

h3 {
  font-size: 1.2em;
    margin: 3px 2px;
}

h4 {
  font-size: 1em;
  margin: 3px 2px;
  color: rgba(0,0,0, 60%);
  font-weight: normal;
}

p { /*LIGHT TEXT OVER DARK COLORS */
  color: rgba(255,255,255, 80%);
}

p2 { /*DARK TEXT OVER LIGHT COLORS */
  color: rgba(0,0,0, 60%);
}


/* HEADER */

.header {
  background: #000000;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
}





/* ABOUT */

.about {
  background: #000000;
  text-align: center;
  margin: 0px 1000x 0px 0px;
  bottom: 200;
}

/* REEL */

.reel {
  background: #2B4162;
}

.workhistory {
  background: white;
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('../img/videoframe.jpg') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
}

/* CONTACT INFO  */

.contacts {
  background: #4a1a31;
}

.contactbuttons {
  display: flex;
  justify-content: space-evenly;
}


.contacts .linkbtn {
  max-width: 30%;
  height: auto;
}

.contacts .linkbtn:hover {
  opacity: 0.5;
}

.contacts .copywrite {
  text-align: center;
  color: lightgrey;
  font-size: 12px;
  margin: 100px 0px 0px 0px;
}

/* ----------------- */

/* RESPONSIVE */

@media screen and (min-width:750px){

  .work-experience {
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: 1fr 1fr;
      padding: 0px;
      align-items; start;
  }
  .specialties-list {
      display: grid;
      grid-template-columns: 1fr;
      text-align: center;
      padding: 25px;
      color: rgba(255, 255, 255, 0.8);
  }

}

@media screen and (max-width:749px){
  h1 {
    font-size: 2.5em;
    }
  .specialties-list {
      color: rgba(255,255,255, 80%);
      
  }
}
