
body{
  background-color: White;
}

h1 {
  display: block;
  font-family: avenir;
  font-size: 70px;
  text-align: center;
  margin: 0px 0px;
  padding: 25px 25px;
  color: LightSlateGrey
}

h2 {
  font-family:san francisco;
  text-align: center;
  color: darkgrey;
  font-size:14px;

}

.contacts a {
  color: white;
  text-decoration: none;
  background: darkgrey;
  padding: 8px 8px;
  border-radius: 6px;

}

.contacts a:hover {
  text-decoration: none;
  background: rgba(169, 169, 169, 80%);
}

.contacts a:active {
  color: black;
}

.copywrite {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: grey;
  font-size: 12px;
}
