

/* GLOBAL STYLES */

/* UNUSED COLORS */

body {
  margin: 0;
  padding: 0;
}

.content-wrap {
  width: 900px;
  margin: 0 auto;
  padding: 60px 0;
}

h1 {
  font-family: avenir;
  font-size: 60px;
  color: #7FDBFF;
  padding: 0px;
  margin: 0px;
}

h2 {
  font-family: avenir;
  font-size: 24px;
  color: rgba(255,65,54,90%)
}

h3 { /*LIGHT TEXT OVER DARK COLORS */
  font-family: avenir;
  color: rgba(255,255,255, 80%);
  font-size:16px;
}

h4 { /*DARK TEXT OVER LIGHT COLORS */
  font-family: avenir;
  color: rgba(0,0,0, 60%);
  font-size:16px;
}

/* HEADER */

.header {
  background: #000022;
}

/* ABOUT */

.about {
  background: #85144b;
}

/* REEL */

.reel {
  background: #2B4162;
}

.workhistory {
  background: white;
}

/* CONTACT INFO  */

.contacts {
  background: slategrey;
}

.contacts .btn {
  color: white;
  text-decoration: none;
  background: rgba(58,60,64, 80%);
  padding: 8px 8px;
  border-radius: 6px;
  margin: 12px;

}

.contacts .btn:hover {
  text-decoration: none;
  background: #0094C6;
}

.contacts .btn:active {
  background: black;
}

.contacts .copywrite {
  bottom: 0;
  width: 100%;
  text-align: center;
  color: grey;
  font-size: 12px;
}

/* ----------------- */
